.allbody {
    background-color: rgb(37, 34, 34);
    background-image: url(Pictures/bg2.svg);

  }

  .navbar-brand {
    margin-bottom: 15px;

  }

  .btn {
    font-size: 18px;
    color: azure;
  }

  .nav-item {
    font-family: Roboto;
    border-color: aliceblue;
    color: aliceblue;
  }

  .col-sm-12 {
    font-family: 'Noto Sans', sans-serif;
  }

  .col-md-6 {
    width: 500px;
  }

  .footer2 {
    height: 100px;
    background-color: rgb(253, 253, 253);
    text-align: center;
    align-items: center;
  }

  .me-brian {
    vertical-align: auto;
    color: white;
  }

  a:Aboutpage.html {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    border-color: white;
    color: white;
  }

  a:hover {
    border-color: white;
    color: white;
  }

  a:Contact.html {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  .vidbg {
    z-index: 0;
  }